In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
import matplotlib.pyplot as plt

rdst = 815

Bad key "text.kerning_factor" on line 4 in
C:\Users\weisj\anaconda3\envs\dsi\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
pets = pd.read_csv('../data/train/train.csv')

In [4]:
pets.head(3)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3

In [5]:
X = pets.drop(columns = ('AdoptionSpeed'))
y = pets['AdoptionSpeed']

X_train, X_hold, y_train, y_hold  = train_test_split(X, y, test_size=0.25, random_state=rdst)

X_train, X_test, y_train, y_test  = train_test_split(X_train, y_train, test_size=0.25, random_state=rdst) # 0.25 x 0.8 = 0.2

print('Pets Shape: ', pets.shape)

print('X Train Shape: ' ,X_train.shape)

print('y Train Shape: ' ,y_train.shape)

print('X Test Shape: ', X_test.shape)
print('y Test Shape: ', y_test.shape)

print('X Holdout Shape: ', X_hold.shape)

print('y Holdout Shape: ', y_hold.shape)

Pets Shape:  (14993, 24)
X Train Shape:  (8433, 23)
y Train Shape:  (8433,)
X Test Shape:  (2811, 23)
y Test Shape:  (2811,)
X Holdout Shape:  (3749, 23)
y Holdout Shape:  (3749,)

In [6]:
hold = pd.concat([X_hold, y_hold], axis = 1)

In [7]:
hold.to_csv('../data/holdout.csv', index = False)

In [8]:
train = pd.concat([X_train, y_train], axis = 1)
test = pd.concat([X_test, y_test], axis = 1)
pets = pd.concat([train,test], axis = 0)
# train.to_csv('../data/pets')

In [9]:
pets.shape

(11244, 24)

In [12]:
pets.head(3)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
951,2,Brando,16,266,0,1,5,7,0,2,...,1,1,100,41326,1470df093c280f9c9c90ccc2f8d44f27,0,Brando is a mild and independent boy. He loves...,cdab9b66a,3.0,4
8331,2,Blu,48,266,0,2,5,7,0,2,...,1,1,0,41326,82a32b0880e7b35ae5133945a67e90a7,0,I will be moving to Australia soon and I am lo...,24fad6b0b,5.0,4
954,1,Fara 2mths Old,2,307,0,2,2,0,0,2,...,1,1,0,41326,2e53c8cd2454a77eb195a039ee28b8f6,0,Fara is also the stray pup rescued from usj18 ...,281e2d7e8,1.0,3

In [11]:
pets.to_csv('../data/pets.csv', index = False)

References:  
https://www.linkedin.com/pulse/kaggle-competition-multi-class-classification-image-alexandra/  
https://www.kaggle.com/c/petfinder-adoption-prediction/data